<form [formGroup]="addForm">
    <div class="form-group">
        <label for="exampleInputEmail1">Id</label>
        <input type="text" class="form-control" placeholder="Enter id" formControlName="id">
    </div>
    <div class="alert alert-danger" *ngIf="this.addForm.controls['id'].invalid && this.addForm.controls['id'].touched">
        id is required
    </div>
    <div class="form-group ">
        <label for="exampleInputEmail1 ">Title</label>
        <input type="text " class="form-control " placeholder="Enter Title " formControlName="title">
    </div>
    <div class="alert alert-danger " *ngIf="this.addForm.controls['title'].invalid && this.addForm.get('title')?.invalid">
        <p *ngIf="this.addForm.controls['title'].hasError('required')">title is required</p>
        <p *ngIf="this.addForm.controls['title'].hasError('minlength')">title min 3 </p>
    </div>
    <div class="form-group ">
        <label for="exampleInputEmail1 ">price</label>
        <input type="text " class="form-control " placeholder="Enter price " formControlName="price">
    </div>
    <div class="alert alert-danger " *ngIf="this.addForm.controls['price'].invalid && this.addForm.controls['price'].touched">
        price is required
    </div>
    <div class="form-group ">
        <label for="exampleInputEmail1 ">quantity</label>
        <input type="text " class="form-control " placeholder="Enter quantity " formControlName="quantity">
    </div>
    <div class="alert alert-danger " *ngIf="this.addForm.controls[ 'quantity'].invalid && this.addForm.controls['quantity'].touched">
        quantity is required
    </div>
    <div class="form-group ">
        <label for="exampleInputEmail1 ">like</label>
        <input type="text " class="form-control " placeholder="Enter like " formControlName="like">
    </div>

    <div class="alert alert-danger " *ngIf="this.addForm.controls[ 'like'].invalid && this.addForm.controls['like'].touched">
        like is required
    </div>
    <button type="submit " class="btn btn-primary " [disabled]="addForm.invalid " (click)="save()">Submit</button>
</form>